@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}

<h2>@ViewBag.Title</h2>

<hr class="division" />

<h1 class="text-danger">Erro</h1>
<h2 class="text-danger">Ocorreu um erro inesperado.</h2>

