@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<h2>@ViewBag.Title</h2>

<hr class="division" />
<hgroup>
    <h1 class="text-danger">Bloqueado</h1>
    <h2 class="text-danger">Esta conta foi bloqueada, por favor tente novamente mais tarde.</h2>
</hgroup>
