@{
    ViewBag.Title = "Página Inicial";
}
<div id="home" class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <hr />
                <div id="resumo" class="jumbotron col-md-12 col-sm-12" align="center">
                    <h2>Sistema de BI dos Dados Prisionais Brasileiros</h2>
                    <p class="lead">
                        Este sistema utiliza dados coletados e validados pelo Departamento Penitenciário Nacional (DEPEN),
                        e tem como propósito permitir diversas formas de análise das informações, com gráficos analíticos e indicadores para geração de conhecimento.
                    </p>
                </div>
                @*<hr />*@
                @*<div id="logosisdp" class="col-md-4 col-sm-2" align="center">
                    <img src="~/Imagens/LogoSisdpFull.JPG" width="285" height="245" />
                </div>*@
            </div>
        </div>
    </div>
</div>
@*<footer>
    <div id="ifg" class="panel-footer">
        <div id="imgifg" class="img-responsive" align="center">
            <img src="~/Imagens/ifg2015.png" width="150" height="215" />
        </div>
    </div>
</footer>*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
