<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dadosprisionais.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dadosprisionais.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dadosprisionais</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$dadosprisionais</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=srv-sql-d01.database.windows.net,1433;Initial Catalog=DW_SISDP;Persist Security Info=True;User ID=usrvitor;Password=Understand3195ab;Application Name=EntityFramework" Name="Data Source=srv-sql-d01.database.windows.net,1433;Initial Catalog=DW_SISDP;Persist Security Info=True;User ID=usrvitor;Password=Understand3195ab;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SisDP.MVC.Models.ApplicationDbContext, SisDP.MVC" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DW_SISDPEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=srv-sql-d01.database.windows.net,1433;Initial Catalog=DW_SISDP;Persist Security Info=True;User ID=usrvitor;Password=Understand3195ab;Application Name=EntityFramework" Name="Data Source=srv-sql-d01.database.windows.net,1433;Initial Catalog=DW_SISDP;Persist Security Info=True;User ID=usrvitor;Password=Understand3195ab;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-sql-d01.database.windows.net,1433;Initial Catalog=DW_SISDP;Persist Security Info=True;User ID=usrvitor;Password=Understand3195ab;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DW_SISDPEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DW_SISDP.csdl|res://*/DW_SISDP.ssdl|res://*/DW_SISDP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-sql-d01.database.windows.net,1433;initial catalog=DW_SISDP;persist security info=True;user id=usrvitor;password=Understand3195ab;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=srv-sql-d01.database.windows.net,1433;Initial Catalog=DW_SISDP;Persist Security Info=True;User ID=usrvitor;Password=Understand3195ab;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DW_SISDPEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DW_SISDP.csdl|res://*/DW_SISDP.ssdl|res://*/DW_SISDP.msl;provider=System.Data.SqlClient;provider connection string="Data Source=srv-sql-d01.database.windows.net,1433;Initial Catalog=DW_SISDP;Persist Security Info=True;User ID=usrvitor;Password=Understand3195ab;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>