@{
    ViewBag.Title = "Confirmação de troca de senha";
}

<hr class="division" />

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Sua senha foi alterado. Por favor @Html.ActionLink("Clique aqui para entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
